[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FMM"]
	path = FMM
	url = https://github.com/alexarc26/fmm
	shallow = true
	registered = true
